<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("static/img/temp_landing.jpg");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    text-align: center;
    color: #0070BA;
}
</style>
</head>
<body>

<div class="bg"></div>

<h1>The Cyclist's Garage</h1>

</body>
</html>