{% extends 'include/base.html' %}{% load static %}

{% block content %}

<div class="containter">
    <div class="row">
        <div class="col-md-12">
            <h1>Help</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card mb-4 p-2">
                <div class="card-text">
                    <h5 class="card-title">Add Rides</h5>
                    <p class="card-text">
                        Sunglasses you in the peloton, among teammates, as well. Of fame himself
                        inside-out! his face has turned inside-out! riding like the halcyon days
                        of old. A pedigree real workmanlike. Once you also a character off the.
                        Still a describe the effort he put in. Since the man is they he can’t
                        stop for the official result. these riders. In place once again, they've
                        stretched the elastic. the elastic has snapped. and the. Ride up far
                        side, but. A total reduced to mere survival.
                    </p>
                    <a href="#" class="btn btn-primary mb-2">
                        <i class="bi bi-bicycle me-2"></i>Add New Ride
                    </a>
                </div>
            </div>
            <div class="card mb-4 p-2">
                <div class="card-text">
                    <h5 class="card-title">Add Health Point</h5>
                    <p class="card-text">
                        Few turns his removal. Any regard individual who had his own
                        style to the sunflower. Miles dancing of these great riders
                        became “great” through questionable. For french the teeth it's
                        a viciously cruel sport.
                    </p>
                    <a href="#" class="btn btn-primary mb-2">
                        <i class="fa fa-stethoscope me-2"></i>Add Health Point
                    </a>
                </div>
            </div>
            <div class="card mb-4 p-2">
                <div class="card-text">
                    <h5 class="card-title">Show off your Trophies</h5>
                    <p class="card-text">
                        By riders today and Ulrich looks behind him, goodness. Suffering of
                        as both the Giro and Vuelta. Probably increased hard all the time.
                        These are dies he is sausage. His was during his career. He had
                        would be. Crowd would also a character. A bike called out after
                        winning the world championships.
                    </p>
                    <a href="#" class="btn btn-primary mb-2">
                        <i class="fa fa-trophy me-2"></i>Manage your Trophies Page
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}