<div class="container my-5">
    <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #7e77c9;">
        <i class="bi bi-c-circle me-2"></i>2023 Copyright:
        <a class="text-white" href="https://justtim.com/">justtim.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

  </div>
  <!-- End of .container -->