<div class="dropdown">
    {% if "Trophies" in request.path %}
        <a class="btn btn-link nav-item dropdown-toggle active fw-bolder" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Trophies
        </a>
    {% else %}
        <a class="btn btn-link nav-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Trophies
        </a>
    {% endif %}
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
            <a class="dropdown-item" href="{% url 'trophies_edit' %}">
                Trophies Edit
            </a>
        </li>
        {% comment %} <li>
            <a class="dropdown-item" href="{% url 'trophies_view' %}">
                Trophies View
            </a>
        </li> {% endcomment %}
    </ul>
</div>