<div class="container my-3">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7e77c9;">
        <a class="navbar-brand ms-2" href="\">The Cyclist's Garage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="container-fluid">
            <div class="collapse navbar-collapse " id="navbar">
                <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                    <!-- Rides -->
                    {% if "rides" in request.path %}
                        <li class="nav-item active fw-bolder" id="Rides">
                            <a class="nav-link w3-text-light-blue" href="/rides">Rides</a>
                        </li>
                    {% else %}
                        <li class="nav-item" id="Rides">
                            <a class="nav-link" href="/rides">Rides</a>
                        </li>
                    {% endif %}
                    <!-- HP -->
                    {% if "hp" in request.path %}
                        <li class="nav-item active fw-bolder" id="HP">
                            <a class="nav-link w3-text-light-blue" href="/hp">Health</a>
                        </li>
                    {% else %}
                        <li class="nav-item" id="HP">
                            <a class="nav-link" href="/hp">Health</a>
                        </li>
                    {% endif %}
                    <!-- Dashboard -->
                    {% if "dashboard" in request.path %}
                        <li class="nav-item active fw-bolder" id="dashboard">
                            <a class="nav-link w3-text-light-blue" href="/dashboard">Dashboard</a>
                        </li>
                    {% else %}
                        <li class="nav-item" id="kudos">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                    {% endif %}
                    <!-- Kudos Page -->
                    {% if "kudos" in request.path %}
                        <li class="nav-item active fw-bolder" id="kudos">
                            <a class="nav-link w3-text-light-blue" href="/kudos">Kudos</a>
                        </li>
                    {% else %}
                        <li class="nav-item" id="kudos">
                            <a class="nav-link" href="/kudos">Kudos</a>
                        </li>
                    {% endif %}
                    <!-- Trophies -->
                    {% if "trophies" in request.path %}
                        <li class="nav-item active fw-bolder" id="kudos">
                            <a class="nav-link w3-text-light-blue" href="/trophies">Trophies</a>
                        </li>
                    {% else %}
                        <li class="nav-item" id="kudos">
                            <a class="nav-link" href="/trophies">Trophies</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <!-- Profile & Login/Logout Pages-->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            {% comment %} <a class="nav-link w3-text-black w3-large" href="{% url 'profile' user.id %}"> {% endcomment %}
                            <a class="nav-link w3-text-black w3-large" href="{% url 'profile' %}">
                                <i class="bi bi-person-bounding-box"></i>
                                {{ user }}({{ user.id}})
                            </a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-box-arrow-in-left me-1"></i>Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item" >
                            <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-box-arrow-in-right me-1"></i>Login</a>
                        </li>
                    {% endif %}
                    <!-- Admin Page -->
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <i class="bi bi-tools"></i>
                                Admin
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>