<div class="dropdown">
    {% if user.is_authenticated %}
        {% if "trophies" in request.path %}
            <a class="btn btn-link nav-item dropdown-toggle active fw-bolder" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Trophies
            </a>
        {% else %}
            <a class="btn btn-link nav-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Trophies
            </a>
        {% endif %}
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
                <a class="dropdown-item" href="{% url 'trophies_edit' user.id %}">
                    Trophies Edit
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'trophies_view' user.id %}">
                    Trophies View
                </a>
            </li>
        </ul>
    {% else %}
        <li class="nav-item" id="Trophies">
            <a class="nav-link" href="" disabled>Trophies</a>
        </li>
    {% endif %}
</div>