<div class="dropdown">
    {% if user.is_authenticated %}
        {% if "dashboard" in request.path %}
            <a class="btn btn-link nav-item dropdown-toggle active fw-bolder" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Dashboard
            </a>
        {% else %}
            <a class="btn btn-link nav-item dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Dashboard
            </a>
        {% endif %}
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
                <a class="dropdown-item" href="{% url 'dashboard' %}">
                    This Week
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'db_month' %}">
                    Month to Month
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'db_year' %}">
                    Year to Year
                </a>
            </li>
        </ul>
    {% else %}
        <li class="nav-item" id="Dashboard">
            <a class="nav-link" href="" disabled>Dashboard</a>
        </li>
    {% endif %}
</div>