{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block page_title %}{% endblock %}
        {% block site_title %}The Cyclist's Garage{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

</head>
<body>

    <div class="bg"></div>

    <h1>The Cyclist's Garage</h1>
    {% include "include/links.html" %}
    <hr>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>