{% extends 'include/base_error.html' %}

{% block page_title %}404 Error{% endblock %}

{% block content %}
<div class="container justify-content-center mt-2" style="width: 25%;">
    <div class="card  text-center mt-5" style="width: 18rem;">
        <div class="card-body mx-auto">
            <h5 class="card-title">
                <i class="bi bi-4-square" style="font-size: 50px; color: #7e77c9"></i>
                <i class="bi bi-0-square" style="font-size: 50px; color: #7e77c9"></i>
                <i class="bi bi-4-square" style="font-size: 50px; color: #7e77c9"></i>
            </h5>
            <p class="card-text text.center">
                <strong>Whoops!</strong>
            </p>
            <p class="card-text text.center">
                404 - Error: The page you are looking for does not exist.
            </p>
            <a href="/" class="btn btn-primary btn-sm mb-3">
                <i class="bi bi-house me-2"></i>Home
            </a>
        </div>
    </div>
</div>
{% endblock %}