{% extends 'include/base.html' %}{% load static %}

{% block content %}

<!-- ### Debug : See all Context Variables ### -->
<!--<textarea rows=10 onclick="this.focus();this.select()" style="width: 100%;"> {% debug %} </textarea> -->

<div class="container mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Ride Details</h1>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-5" style="width: 80%">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>{{ object.id }}</td>
                    </tr>
                    <tr>
                        <td>user_id</td>
                        <td>{{ object.user_id }}</td>
                    </tr>
                    <tr>
                        <td>data_type</td>
                        <td>{{ object.data_type }}</td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>{{ object.data }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'rides:all' %}" class="d-block btn btn-primary btn-lg my-5" autofocus>BACK</a>
        </div>
    </div>
</div>

{% endblock %}