{% extends 'include/base.html' %}{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container d-flex justify-content-center mt-2" style="width: 25%;">
    <div class="col mt-2">
        <h1 class="text-center">Add/Edit Ride</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'rides:all' %}'; return false;" value="Cancel">
            </div>
        </form>
    </div>
</div>

{% endblock %}