{% extends 'include/base.html' %}{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container d-flex justify-content-center mt-2" style="width: 25%;">
    <div class="col mt-2">
        {% if "create" in request.path %}
            <h2 class="text-center">Add Ride</h2>
        {% elif "update" in request.path%}
            <h2 class="text-center">Edit Ride</h2>
        {% else %}
            <h2 class="text-center">Add/Edit Ride</h2>
        {% endif %}
        {{ form.media }}
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <button type="submit" class="btn btn-primary me-2 text-nowrap">
                    <i class="bi bi-save me-2"></i>
                    {% if "create" in request.path %}
                        Save
                    {% elif "update" in request.path %}
                        Update
                    {% else %}
                        Submit
                    {% endif %}
                </button>
                <button type="submit" class="btn btn-secondary text-nowrap" onclick="window.location='{% url 'rides:all' %}'; return false;">
                    <i class="bi bi-x-circle me-2"></i>Cancel
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}