{% extends 'include/base.html' %}{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container d-flex justify-content-center mt-2">
    <div class="col mt-2">
        <h2 class="text-center">
            <i class="bi bi-file-earmark-binary"></i>
            Import Ride from .fit File</h2>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="fit_file" class="form-label">Choose .fit file to import</label>
                <div class="input-group mb-3">
                    <input class="form-control" type="file" id="fit_file" name="fit_file">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary me-3" id="import_fit" name="import_fit">
                            <i class="bi bi-upload me-2"></i>Import
                        </button>
                    </div>
                </div>
            </div>
        </form>
        {% if uploaded_file_name %}
            <p>
                Uploaded file: {{ uploaded_file_name }}
            <p>
            {{ pre_pop_form_data }}

            <div class="card">
                <div class="card-body">
                    <form action="" method="post" enctype="application/json">
                        {% csrf_token %}
                        {{ form.media }}
                        {% bootstrap_form form %}
                        <div class="container d-flex justify-content-center" style="width: 10%;">
                            <button type="submit" class="btn btn-primary me-2 text-nowrap" id="create_ride", name="create_ride">
                                <i class="bi bi-save me-2"></i>Create Ride
                            </button>
                            {% if request.GET.return_to == "feed" %}
                                <button type="submit" class="btn btn-secondary text-nowrap" onclick="window.location='{% url 'feed:feed' %}'; return false;">
                                    <i class="bi bi-x-circle me-2"></i>Cancel
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-secondary text-nowrap" onclick="window.location='{% url 'rides:list' %}'; return false;">
                                    <i class="bi bi-x-circle me-2"></i>Cancel
                                </button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}