{% extends 'include/base.html' %}{% load static %}

{% block content %}


{% if doc_type == "ride" %}
    <h1>Ride Detail</h1>
    {% include "feed/detail/_ride_basic_info.html" %}
    {% include "feed/detail/_ride_extra_info.html" %}
    {% include "feed/detail/_ride_map.html" %}
{% else %}
    <h1>Whoops!</h1>
    {% include "feed/detail/_error.html" %}
{% endif %}

<a href="{% url 'feed:feed' %}" class="btn btn-secondary m-2 text-nowrap">
    <i class="bi bi-skip-backward"></i>
</a>

{% endblock %}