{% extends 'include/base.html' %}{% load static %}

{% block content %}

<div class="container mt-2">
    <div class="col">
        <h1 class="text-center">
            Feed
        </h1>
    </div>
</div>
<div class="containter">
    <div class="row">
        <div class="col-sm-3 card bg-light">
            {% include "feed/extras/_userinfo.html" %}
            {% include "feed/extras/_actions.html" %}
        </div>
        <div class="col-sm-9">
            {% include "feed/activities/_activities.html" %}
        </div>
    </div>
</div>

{% endblock %}