{% extends 'include/base.html' %}{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container justify-content-center mt-2" style="width: 25%;">
    <div class="row">
        {% if "create" in request.path %}
            <!-- TODO: Account for hp_types like BP that are all caps -->
            <h2 class="text-center">
                Add {{ hp_type|title }}
                <small class="text-muted">({{ unit_names.weight }})</small>
            </h2>
        {% elif "update" in request.path%}
            <h2 class="text-center">
                Edit {{ hp_type|title }}
                <small class="text-muted">({{ unit_names.weight }})</small>
            </h2>
        {% else %}
            <h2 class="text-center">
                Add/Edit {{ hp_type|title }}
                <small class="text-muted">({{ unit_names.weight }})</small>
            </h2>
        {% endif %}
    </div>

    <div class="row">
        {{ form.media }}
        <form id="data_form" action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <button type="submit" class="btn btn-primary me-2 text-nowrap">
                    <i class="bi bi-save me-2"></i>
                    {% if "create" in request.path %}
                        Save
                    {% elif "update" in request.path %}
                        Update
                    {% else %}
                        Submit
                    {% endif %}
                </button>
                {% if request.GET.return_to == "feed" %}
                    <button type="submit" class="btn btn-secondary text-nowrap" onclick="window.location='{% url 'feed:feed' %}'; return false;">
                        <i class="bi bi-x-circle me-2"></i>Cancel
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-secondary text-nowrap" onclick="window.location='{% url 'hp:list' %}'; return false;">
                        <i class="bi bi-x-circle me-2"></i>Cancel
                    </button>
                {% endif %}

            </div>
        </form>
    </div>
</div>

{% endblock %}