<div class="card text-center mt-2">
    <div class="card-header bg-secondary">
        <h5 class="card-title">What to do Next</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                    id="dropdownAddRidesBtn" data-toggle="dropdown" aria-haspopup="true"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bicycle me-2" aria-hidden="true"></i>
                    Add / Import New Rides
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownAddRidesBtn">
                    <a class="dropdown-item" href="{% url 'rides:import_fit' %}?return_to=feed">
                        Import .fit File
                    </a>
                    <a class="dropdown-item disabled" href="#">
                        Import .gpx File
                    </a>
                    <a class="dropdown-item" href="{% url 'rides:create' %}?return_to=feed">
                        Manually Enter a Ride
                    </a>
                </div>
            </div>
        </p>
        <p class="card-text">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button"
                    id="dropdownAddHP" data-toggle="dropdown" aria-haspopup="true"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-stethoscope me-2" aria-hidden="true"></i>
                    Add New Health Points
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownAddHP">
                    <a class="dropdown-item" href="{% url 'hp:create' %}?return_to=feed">
                        Add FTP
                    </a>
                    <a class="dropdown-item" href="{% url 'hp:create' 'weight' %}?return_to=feed">
                        Add Weight
                    </a>
                    <a class="dropdown-item" href="{% url 'hp:create' 'bp' %}?return_to=feed">
                        Add Blood Pressure
                    </a>
                    <a class="dropdown-item" href="{% url 'hp:create' %}?return_to=feed">
                        Add Other Health Points
                    </a>
                </div>
            </div>
        </p>
        <p class="card-text">
            <a href="{% url 'habits:create' %}?return_to=feed" class="btn btn-primary" >
                <i class="bi bi-person-fill-check me-2"></i>Record Good Habits
            </a>
        </p>
        <p class="card-text">
            <a href="{% url 'dashboard:db' %}" class="btn btn-primary">
                <i class="bi bi-clipboard-data me-2"></i>View Dashboards
            </a>
        </p>
        <p class="card-text">
            <a href="#" class="btn btn-primary disabled">
                <i class="bi bi-trophy me-2"></i>Manage you Trophies & Kudos
            </a>
        </p>
    </div>
</div>
