<div class="card mt-2">
    <div class="card-header bg-secondary">
        <p class="card-title text-center">
            <i class="bi bi-person-square"></i>
        </p>
        <h5 class="card-title text-center">{{ user.username }}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            <span class="fw-bold">Member Since:</span>
            {{ member_joined_date }}
        </p>
        <p class="card-text">
            <span class="fw-bold">Total Rides:</span>
            {{ activities_ride }}
        </p>
        <p class="card-text">
            <span class="fw-bold">Total Activities:</span>
            {{ activities_total }}
        </p>
    </div>
</div>
