{% extends 'include/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<h1>Dashboard</h1>

<p>
    <a href="/dashboard/" class="btn btn-primary btn-sm" type="button" >
        <i class="bi bi-arrows-collapse me-2"></i>This Week
    </a>
    <a href="/dashboard/month" class="btn btn-primary" type="button" >
        <i class="bi bi-arrows-collapse me-2"></i><strong>Month to Month</strong>
    </a>
    <a href="/dashboard/year" class="btn btn-primary btn-sm" type="button" >
        <i class="bi bi-arrows-collapse me-2"></i>Year to Year
    </a>
</p>

<form action="" method="post" class="mb-2">
    {% csrf_token %}
    {% for field in context.form %}
        {{ field.label_tag }}
        {{ field }}
    {% endfor %}

    <button type="submit" class="btn btn-sm btn-secondary text-nowrap mb-2">
        <i class="bi bi-check2-circle me-2"></i></i>Select
    </button>
</form>

<div class="collapse show" id="collapseExample">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <i class="bi bi-bicycle me-2"></i>Month to Month Comparison
            </h5>
            <p class="card-text"></p>
            <div class="card bg-light">
                <div>
                    <canvas id="month_chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById("month_chart");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: {{ context.labels|safe }},
            datasets: [{
                label: "Distence(km) by Month",
                data: {{ context.data|safe }},
                backgroundColor: {{ context.bgColor|safe }},
                borderWidth: 2
            }]
        },
        options: {
            animation: false,
            plugins: {
                legend: {display: true},
                tooltip: {enabled: true}
            },
            scales: {
                y: {beginAtZero: true}
            }
        }
    });
</script>

{% comment %} {% debug %} {% endcomment %}

{% endblock %}