<!-- commons/change-password.html -->
{% extends 'include/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-key me-2"></i>Submit
        </button>
        <buatton type="submit" class="btn btn-secondary text-nowrap" onclick="window.location='{% url 'profile' user.id %}'; return false;">
            <i class="bi bi-x-circle me-2"></i>Cancel
        </buatton>
    </form>
{% endblock content %}