<!-- commons/change-password.html -->
{% extends 'include/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_field form.old_password addon_after="<i class='bi bi-eye-slash' id='togglePassword1' onclick='togglePassword1()''></i>" %}
        {% bootstrap_field form.new_password1 addon_after="<i class='bi bi-eye-slash' id='togglePassword2' onclick='togglePassword2()''></i>"  %}
        {% bootstrap_field form.new_password2 addon_after="<i class='bi bi-eye-slash' id='togglePassword3' onclick='togglePassword3()''></i>"  %}
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-key me-2"></i>Submit
        </button>
        <buatton type="submit" class="btn btn-secondary text-nowrap" onclick="window.location='{% url 'profile' user.id %}'; return false;">
            <i class="bi bi-x-circle me-2"></i>Cancel
        </buatton>
    </form>

<script>
    // Toggle between password & cleartext for password field
    function togglePassword1() {
        var field = document.getElementById("id_old_password");
        var icon = document.getElementById("togglePassword1")
        if (field.type === "password") {
            field.type = "text";
            icon.className = "bi bi-eye";
        } else {
            field.type = "password";
            icon.className = "bi bi-eye-slash";
        }
    }

    function togglePassword2() {
        var field = document.getElementById("id_new_password1");
        var icon = document.getElementById("togglePassword2")
        if (field.type === "password") {
            field.type = "text";
            icon.className = "bi bi-eye";
        } else {
            field.type = "password";
            icon.className = "bi bi-eye-slash";
        }
    }

    function togglePassword3() {
        var field = document.getElementById("id_new_password2");
        var icon = document.getElementById("togglePassword3")
        if (field.type === "password") {
            field.type = "text";
            icon.className = "bi bi-eye";
        } else {
            field.type = "password";
            icon.className = "bi bi-eye-slash";
        }
    }
</script>
{% endblock content %}