<div class="card m-2">
    <table class="table table-borderless">
        <tr>
            <th>Ride Distance</th>
            <th>Ride Time</th>
            <th>Elevation Gained</th>
            <th>Calories Burned</th>
        </tr>
        <tr>
            <td>
                {{ activity.distance }}
                <small class="text_muted">{{ unit_names.distance }}</small>
            </td>
            <td>
                {{ activity.duration }}
                <small class="text_muted">{{ unit_names.duration }}</small>
            </td>
            <td>
                {{ activity.elevation }}
                <small class="text_muted">{{ unit_names.elevation }}</small>
            </td>
            <td>
                {{ activity.calories }}
                <small class="text_muted">{{ unit_names.calories }}</small>
            </td>
        </tr>
    </table>
</div>
