<div class="card m-2">
    <table class="table w-100 mt-2 table-striped">
        <tr>
            <th></th>
            <th>Avg</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>Speed</td>
            <td>{{ activity.speed_avg }}</td>
            <td>{{ activity.speed_max }}</td>
        </tr>
        <tr>
            <td>Cadence</td>
            <td>{{ activity.cadence_avg }}</td>
            <td>{{ activity.cadence_max }}</td>
        </tr>
        <tr>
            <td>Power</td>
            <td>{{ activity.power_avg }}</td>
            <td>{{ activity.power_max }}</td>
        </tr>
        <tr>
            <td>Heart Rate</td>
            <td>{{ activity.hr_avg }}</td>
            <td>{{ activity.hr_max }}</td>
        </tr>
    </table>
</div>
